[cmake]
version = "3.15"
cmkr-include = "cmake/cmkr.cmake"

[project]
name = "mhr-build-planner"

# See https://github.com/microsoft/vcpkg#getting-started on how to use vcpkg
# Chose a version from https://github.com/microsoft/vcpkg/releases
# During CMake configuration you will be told how to find and link to the packages
[vcpkg]
version = "2021.05.12"
packages = ["glfw3", "GLEW"]

# vcpkg will download the packages, but you still need to find them to use them
[find-package]
glfw3 = {}
GLEW = {}

[target.imgui]
type = "static"
sources = [
    "third_party/imgui/*.cpp",
    "third_party/imgui/*.h",
    "third_party/imgui/backends/imgui_impl_glfw.cpp",
    "third_party/imgui/backends/imgui_impl_glfw.h",
    "third_party/imgui/backends/imgui_impl_opengl3.cpp",
    "third_party/imgui/backends/imgui_impl_opengl3.h",
]
include-directories = ["third_party/imgui"]
link-libraries = ["glfw", "GLEW::GLEW"]
compile-features = ["cxx_std_11"]

[target.mhr-bp-lib]
type = "static"
sources = ["src/lib/mhrbp.cpp"]
include-directories = ["src/lib"]
compile-features = ["cxx_std_11"]

[target.mhr-bp-app]
type = "executable"
sources = ["src/app/main.cpp"]
link-libraries = ["imgui"]
